<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Jewerly Store | Grupo 13</title>
</head>
<body>
    <header id="header">

        <div id="logo">
            <img src="/public/images/WhatsApp Image 2022-08-04 at 9.20.19 PM (1).jpeg" alt="logo">
        </div>

        <div id="botonesDelHeader">
            <button>Favoritos</button>
            <button>Compras</button>
            <button>Ingresar</button>
            <button>Registrarte</button>
        </div>

        <nav>
            <ul>Anillos</ul>
            <ul>Cadenas</ul>
            <ul>Aretes</ul>
            <ul>Hombres</ul>
            <ul>Niños</ul>
        </nav>

        <label for="barraDeBusqueda">
            <input type="text" placeholder="Buscar">
            <button></button>
        </label>
    </header>

    <div class="anuncios">
        <p>A</p>
         
    </div>
</body>
</html>